.toy-filter {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;

    >h3 {
        margin-block-end: 1em;
    }

    >.filter-row {
        display: flex;
        gap: 15px;
        align-items: flex-end;
        flex-wrap: wrap;

        >.filter-group {
            display: flex;
            align-items: center;

            >label {
                margin-right: 5px;
            }
        }
    }

    >.filter-labels {
        margin-top: 10px;

        >.labels-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 5px;

            >.label-item {
                display: flex;
                align-items: center;
                gap: 5px;
                background: #fff;
                padding: 2px 8px;
                border-radius: 10px;
                border: 1px solid #ddd;

                >label {
                    cursor: pointer;
                    font-size: 0.9em;
                }
            }
        }
    }
}